/*header*/
#header {
  padding: 5px 0px;
  color: white;
  background-color: #68e6ff
}

#header h1 {
  padding-left: 10px;
}

#pickup img{
  text-align: center;
}

#contents {
  margin-top: 30px;
}

#nav {
  margin-top: 30px;
}

/*main*/
#main img {
  margin-top: 50px;
}

#main p {
  margin-top: 30px;
}

#main small {
  color: #cccccc;
}

.main-article {
  margin-bottom: 100px;
}

.main-article img {
  margin-bottom: 50px;
}

/*side*/
#new-article {
  margin-top: 50px;
  margin-bottom: 10px;
}

.article-item img {
  margin-bottom: 5px;
}

.bunner {
  margin-top: 80px;
}

.bunner img {
  margin-top: 30px;
}

.article-item small {
  padding-left: 10px;
}

/*footer*/
#footer {
  padding: 5px;
  background-color: #68e6ff;
}

#footer small {
  color: white;
}

.center {
  text-align: center;
}

#calender {
  margin-top: 30px;
}