#header {
  background-color: #cccccc;
}
#pickup {
  text-align: center;
}

#contents {
  margin-top: 30px;
}

/*main*/

/*side*/
#new-article {
  margin-top: 50px;
  margin-bottom: 5px;
}

.article-item img {
  margin-bottom: 5px;
}

.bunner {
  margin-top: 80px;
}

.bunner img {
  margin-top: 30px;
}

.article-item small {
  padding-left: 10px;
}

/*footer*/
#footer {
  background-color: lightpink;
}

.center {
  text-align: center;
}