li {
  display: inline-block;
  height: 10px;
  margin: 1em;
}

.users {
  border-bottom: 1px solid #999999;
  padding-bottom: 5px;
}

#label {
  color: white;
  background-color: #008b69;
  padding: 5px;
}